@import 'src/assets/style/px2.scss';
.Save_Load_main {
  position: absolute;
  z-index: 10;
  cursor: default;
  width: px2(1920px);
  height: px2(1080px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/background.png');
}

.Save_Load_main_IOS {
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
}

.Save_Load_top {
  height: 10%;
  width: 100%;
  display: flex;
  animation: Elements_in ease-out 1s forwards;
  justify-content: center;
}

.Save_Load_title_save {
  position: absolute;
  top: px2(37px);
  left: px2(43px);
  cursor: pointer;
  width: px2(539px);
  height: px2(120px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/save-title.png');
}

.Save_back {
  position: absolute;
  top: px2(43px);
  left: px2(43px);
  cursor: pointer;
  width: px2(140px);
  height: px2(57px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/back.png');
  z-index: 2;
}

.Save_title {
  position: absolute;
  top: px2(37px);
  left: px2(70px);
  cursor: pointer;
  width: px2(539px);
  height: px2(120px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/save-title.png');
}

.Load_title {
  position: absolute;
  top: px2(37px);
  left: px2(70px);
  cursor: pointer;
  width: px2(539px);
  height: px2(120px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/load-title.png');
}

.Save_Load_title {
  font-family: "思源宋体", serif;
  letter-spacing: 0.1em;
  width: auto;
  font-size: 500%;
  min-width: 350px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  top:0;
  z-index: -1;
  opacity: 0.2;
  transform: translateY(-10px);
}

.Save_Load_top_buttonList {
  width: px2(632px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: px2(644px);
  bottom: px2(36px);
  height: px2(43px);
  display: flex;
}

.Save_Load_top_button {
  width: px2(20px);
  height: px2(20px);
  margin: 0 px2(32px);
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/point-default.png');
  cursor: pointer;
}

.Save_Load_top_button:first-child > div {
  border-left: 2px solid rgba(0, 0, 0, 0);
}

.Save_Load_top_button_on {
  width: px2(43px);
  height: px2(43px);
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/point-active.png')!important;
}

.Save_Load_top_button:hover {
  color: #77428D;
  font-weight: bold;
  border-bottom: 4px solid #77428D;
}

.Load_top_button_on {
  font-weight: bold;
  border-bottom: 5px solid #005CAF;
  color: #005CAF;
  background-color: rgba(0, 92, 175, 0.1);
}

.Load_top_button:hover {
  color: #005CAF;
  font-weight: bold;
  border-bottom: 5px solid #005CAF;
}

.Save_Load_content {
  height: auto;
  width: 100%;
  position: absolute;
  top: px2(203px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: px2(170px);
  padding-right: px2(170px);
  box-sizing: border-box;
}

.Save_Load_content_element {
  width: px2(467px);
  height: px2(408px);
  animation: Elements_in 1s ease-out forwards, Elements_in_transform 1s ease-out;
  opacity: 0;
  border-radius: 4px;
  transition: transform 0.25s, box-shadow 0.25s;
  position: relative;
  margin-right: px2(86px);
  &:nth-child(3n) {
    margin-right: 0;
  }
  cursor: pointer;
}

.Save_Load_content_element:hover {
  .Save_Load_border {
    width: px2(550px);
    height: px2(348px);
    top: px2(-48px);
    left: px2(-48px);
    background-image: url('@/assets/imgs/border-active.png');
    z-index: -1;
  }
  .Save_Load_info_box {
    display: block;
  }
  .Save_Load_content_miniRen {
    background-image: url('@/assets/imgs/bg-active.png');
  }
}

.Save_Load_content_element_top {
  font-family: "思源宋体", serif;
  width: 100%;
  height: 12%;
  display: flex;
}

.Save_Load_content_element_top_index {
  color: #C6BAD9;
  text-align: center;
  font-family: Inter;
  font-size: px2(28px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.Load_content_elememt_top_index {
  color: #C6BAD9;
  text-align: center;
  font-family: Inter;
  font-size: px2(28px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.Save_Load_content_element_top_date {
  color: #C6BAD9;
  text-align: center;
  font-family: Inter;
  font-size: px2(28px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  white-space: noWrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Load_content_element_top_date {
  background-color: #005CAF;
}

.Save_Load_content_text {
  font-family: "WebgalUI", sans-serif;
  letter-spacing: 0.05em;
  color: #373C38;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 1) 100%);
  //background: rgba(255,255,255,1);
  font-size: 120%;
  height: 40%;
  width: 100%;
  //box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.Save_Load_info {
  width: 100%;
  height: px2(159px);
  padding: px2(45.5px) 0;
}
.Save_Load_info_box {
  transition: all ease 0.3s;
  display: none;
}

.Save_Load_content_text_padding {
  padding: 0.2em 0.75em 0.2em 0.75em;
}

.Save_Load_content_speaker {
  box-sizing: border-box;
  font-weight: bold;
  color: #77428D;
  padding: 0.35em 0.8em 0.25em 0.8em;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.Load_content_speaker {
  color: #005caf;
}

.Load_content_text {
  background-color: rgba(0, 92, 175, 0.75);
}

.Save_Load_content_miniRen {
  position: relative;
  background-size: cover;
  width: px2(467px);
  height: px2(249px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/save-load-bg.png');
  transition: all ease 0.3s;
}

.Save_Load_content_space {
  position: relative;
  background-size: cover;
  width: px2(467px);
  height: px2(249px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/save-load-bg.png');
}

.Save_Load_content_miniRen_bg {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
}

.Save_Load_content_miniRen_figure {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
}

.Save_Load_content_miniRen_figLeft {
  bottom: 0;
  left: 0;
}

.Save_Load_content_miniRen_figRight {
  bottom: 0;
  right: 0;
}

.Save_Load_border {
  width: px2(519px);
  height: px2(295px);
  position: absolute;
  top: px2(-26px);
  left: px2(-26px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/border-bg.png');
  z-index: 2;
  transition: all ease 0.3s;
}

.Btn_l {
  width: px2(140px);
  height: px2(57px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/back.png');
  cursor: pointer;
}

.Btn_r {
  width: px2(140px);
  height: px2(57px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/back-r.png');
  cursor: pointer;
}

@keyframes Elements_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Elements_in_transform {
  0% {
    transform: scale(1.05, 1.05) translate(-25px, -20px) rotateY(15deg) rotateX(-15deg);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
  }
}
