@import 'src/assets/style/px2.scss';
.Save_Load_main {
  position: absolute;
  cursor: default;
  width: px2(1280px);
  height: px2(720px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/save-load-bg.webp');
}

.Common_back {
  position: absolute;
  top: px2(-7px);
  left: px2(-72px);
  cursor: pointer;
  width: px2(53px);
  height: px2(53px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/back.png');
  z-index: 2;
  &:hover {
    background-image: url('@/assets/imgs/back-r.png');
  }
}

.Common_title {
  position: absolute;
  top: px2(18px);
  left: px2(105px);
  width: px2(269px);
  height: px2(47px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Save_title {
  background-image: url('@/assets/imgs/save-title.png');
}

.Load_title {
  background-image: url('@/assets/imgs/load-title.png');
}

.Save_Load_top_buttonList {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: px2(32px);
}

.Save_Load_indicator_container {
  display: flex;
  align-items: center;
  gap: px2(11px);
}

.Save_Load_top_button {
  width: px2(13px);
  height: px2(14px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Save_Load_indicator_default {
  width: px2(13px);
  height: px2(14px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/point-default.png');
}

.Save_Load_indicator_active {
  width: px2(13px);
  height: px2(14px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/point-active.png')!important;
}

.Save_Load_content {
  height: auto;
  width: 100%;
  position: absolute;
  top: px2(102px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: px2(50px);
  box-sizing: border-box;
}

.Save_Load_content_element {
  width: px2(411px);
  height: px2(254px);
  animation: Elements_in 1s ease-out forwards, Elements_in_transform 1s ease-out;
  opacity: 0;
  transition: transform 0.25s, box-shadow 0.25s;
  position: relative;
  margin-right: px2(-14px);
  margin-bottom: px2(8px);
  &:nth-child(3n) {
    margin-right: 0;
  }
  cursor: pointer;
}

.Save_Load_content_element_top {
  font-family: "思源宋体", serif;
  width: 100%;
  height: 15%;
  display: flex;
}

.Save_Load_info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: px2(214px);
  width: px2(300px);
  color: #713F44;
  text-align: center;
  font-family: Inter;
  font-size: px2(20px);
  font-style: normal;
  font-weight: 400;
  line-height: px2(30px); /* 125% */
  transition: all ease 0.3s;
}

.Save_Load_content_ele {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: px2(385px) px2(254px);
  background-position: top 0 left px2(15px);
  background-image: url('@/assets/imgs/save-load-item-bg.png');

  &:hover {
    background-repeat: no-repeat;
    background-size: px2(411px) px2(247px);
    background-position: bottom 0 left px2(-6px);
    background-image: url('@/assets/imgs/save-load-item-selected-bg.png');
  }
}

.Save_Load_bg {
  position: absolute;
  top: px2(13px);
  left: px2(22.5px);
  width: px2(352px);
  height: px2(237px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/save-load-item-unlock-bg.png');
}

.Save_Load_content_miniRen_bg {
  margin-top: px2(28.5px);
  margin-left: px2(38px);
  background-size: contain;
  height: px2(167px);
  width: px2(321px);
  background-position: center;
  position: relative;
  z-index: 10;
}

.Save_Load_border {
  width: px2(63px);
  height: px2(53px);
  position: absolute;
  top: px2(-5px);
  right: px2(15px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/border-active.png');
  z-index: 12;
  transition: all ease 0.3s;
}

.Btn {
  width: px2(54px);
  height: px2(34px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/cg-bottom-left.png');
  cursor: pointer;
  margin-right: px2(137px);
  &:hover {
    background-image: url('@/assets/imgs/cg-bottom-left-select.png');
  }
}

.Btn_r {
  margin-right: 0;
  margin-left: px2(137px);
  background-image: url('@/assets/imgs/cg-bottom-right.png');
  &:hover {
    background-image: url('@/assets/imgs/cg-bottom-right-select.png');
  }
}

@keyframes Elements_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Elements_in_transform {
  0% {
    transform: scale(1.05, 1.05) translate(-25px, -20px) rotateY(15deg) rotateX(-15deg);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
  }
}
