@import 'src/assets/style/px2.scss';

.Toaster_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: px2(5px);
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: px2(10px) px2(15px);
  font-size: px2(18px);

  .Toaster_image {
    position: relative;
  }
}

.Toaster_image {
  border-radius: 0;
  background: transparent;
  display: block;
  padding: 0;
  top: auto;

  .Toaster_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.Toaster_fadeIn {
  animation: K_Toaster_fadein 0.5s ease-out forwards;
}

.Toaster_slideIn {
  left: 50%;
  bottom: px2(61px);
  transform: translateX(-50%) translateY(0);
  animation: K_Toaster_slidein 0.5s ease-out forwards;
}

.Toaster_out {
  animation: K_Toaster_fadeout 0.5s ease-out forwards;
}

@keyframes K_Toaster_fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes K_Toaster_fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes K_Toaster_slidein {
  0% {
    transform: translateX(-50%) translateY(100%);
  }
  100% {
  transform: translateX(-50%) translateY(0);
  }
}