@import 'src/assets/style/px2.scss';
.Options_main {
  position: absolute;
  cursor: default;
  width: px2(1280px);
  height: px2(720px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/setting-bg.webp');
}
.Options_top {
  position: absolute;
  top: px2(22px);
  left: px2(97px);
  cursor: pointer;
  width: px2(171px);
  height: px2(47px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/set-title.png');
}
.Options_page_container {
  display: flex;
  justify-content: space-between;
  margin-top: px2(134px);
}
.Options_left {
  margin-left: px2(159px);
  width: px2(413px);
}
.title_base {
  position: relative;
  width: px2(413px);
  height: px2(56px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/base-set.png');
}
.Options_right {
  margin-right: px2(114px);
  width: px2(411px);
  .Label {
    text-align: right;
    width: px2(98px);
    margin-right: px2(28px);
  }
  .title_voice {
    margin-top: px2(4px);
    width: px2(411px);
    height: px2(56px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: contain;
    background-image: url('@/assets/imgs/voice-set.png');
  }
}
.Label {
  color: #CCC092;
  font-family: Inter;
  font-size: px2(24px);
  font-style: normal;
  font-weight: 400;
  line-height: px2(55px);
}
.Label_fullscreen {
  margin-left: px2(101px);
  margin-right: px2(11px);
}
.Label_window {
  margin-left: px2(65px);
  margin-right: px2(11px);
}
.Label_text_speed {
  margin-right: px2(22px);
}
.Label_row {
  height: px2(28px);
  margin-left: px2(17px);
  margin-right: px2(13px);
  position: relative;
  margin-bottom: px2(20px);
}
.Label_row_right {
  margin-left: px2(7px);
  margin-bottom: px2(20px);
}
.Label_row_text {
  font-size: px2(24px);
  line-height: px2(24px);
  color: #BA9C8D;
  font-weight: 700;
}
.Label_row_decoration {
  width: px2(367px);
  height: px2(21px);
  position: absolute;
  right: 0;
  bottom: px2(-1px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/set-decoration.png');
}
.Check_row {
  display: flex;
  margin-left: px2(13px);
  margin-right: px2(42px);
  margin-top: px2(12px);
  align-items: center;
  justify-content: space-between;
}
.Check_row_option {
  display: flex;
  align-items: center;
}
.Check_row_prefix {
  width: px2(117px);
  height: px2(40px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/base-set-line.png');
  margin-right: px2(9px);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: px2(20px);
}
.Check_row_box {
  width: px2(37px);
  height: px2(37px);
  flex-shrink: 0;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/check.png');
  position: relative;
}
.mt48 {
  margin-top: px2(48px);
}
.mt32 {
  margin-top: px2(32px);
  margin-bottom: px2(10px);
}
.mt22 {
  margin-top: px2(22px);
  margin-bottom: px2(10px);
}
.Slider_wrapper {
  margin-left: px2(5px);
}

.Check_row_box_checked {
  width: px2(63px);
  height: px2(53px);
  flex-shrink: 0;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/checked.png');
  position: absolute;
  top: px2(-12px);
  left: px2(-8px);
}

.Save_back {
  position: absolute;
  top: px2(-7px);
  left: px2(-69px);
  cursor: pointer;
  width: px2(53px);
  height: px2(53px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/back.png');
  z-index: 2;
  &:hover {
    background-image: url('@/assets/imgs/back-r.png');
  }
}
