@import 'src/assets/style/px2.scss';
.Options_main {
  position: absolute;
  cursor: default;
  width: px2(1280px);
  height: px2(720px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/background.png');
}
.Options_top {
  position: absolute;
  top: px2(26px);
  left: px2(46px);
  cursor: pointer;
  width: px2(344px);
  height: px2(79px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/set-back.png');
}
.Options_page_container {
  display: flex;
  justify-content: space-between;
  margin-top: px2(161px);
}
.Options_left {
  margin-left: px2(66px);
}
.title_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: px2(39px);
  .star {
    width: px2(43px);
    height: px2(44px);
    background-image: url('@/assets/imgs/common-star.png');
    background-size: cover;
  }
}
.title_wrapper_left {
  margin-left: px2(120px);
}
.title_wrapper_right {
  margin-left: px2(78px);
}
.title_base {
  position: relative;
  width: px2(127px);
  height: px2(25px);
  margin-left: px2(13px);
  margin-right: px2(16px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/base-set.png');
}
.Options_right {
  margin-right: px2(84px);
  .Label {
    text-align: right;
    width: px2(98px);
    margin-right: px2(28px);
  }
  .title_voice {
    width: px2(127px);
    height: px2(25px);
    margin-left: px2(106px);
    margin-left: px2(14px);
    margin-right: px2(15px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('@/assets/imgs/voice-set.png');
  }
}
.Label {
  color: #CCC092;
  font-family: Inter;
  font-size: px2(24px);
  font-style: normal;
  font-weight: 400;
  line-height: px2(55px);
}
.Label_fullscreen {
  margin-left: px2(101px);
  margin-right: px2(11px);
}
.Label_window {
  margin-left: px2(65px);
  margin-right: px2(11px);
}
.Label_text_speed {
  margin-right: px2(22px);
}
.Row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: px2(30px);
  .Check_line {
    display: flex;
    justify-content: space-between;
  }
  .Check_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .Check_box {
    width: px2(36px);
    height: px2(36px);
    flex-shrink: 0;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('@/assets/imgs/check.png');
    position: relative;
  }
  .Checked_box {
    width: px2(48px);
    height: px2(42px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('@/assets/imgs/checked.png');
    position: absolute;
    top: px2(-3px);
    left: px2(-4px);
  }
}
.Row_padding {
  padding-left: px2(19px);
}

.Save_back {
  position: absolute;
  top: px2(-8px);
  left: px2(-25px);
  cursor: pointer;
  width: px2(105px);
  height: px2(58px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/back.png');
  z-index: 2;
  &:hover {
    background-image: url('@/assets/imgs/back-r.png');
  }
}
