@import 'src/assets/style/px2.scss';

.extra {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 14;
  box-sizing: border-box;
}

.extraTop {
  position: absolute;
  top: px2(22px);
  left: px2(116px);
  width: px2(167px);
  height: px2(47px);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/gallery-title.png');
}

.backIcon {
  position: absolute;
  left: px2(41px);
  top: px2(15px);
  cursor: pointer;
  width: px2(53px);
  height: px2(53px);

  background-image: url('@/assets/imgs/back.png');
  background-size: contain;

  &:hover {
    background-image: url('@/assets/imgs/back-r.png');
  }
}

@keyframes extra_icon_softin {
  0% {
    background: rgba(255, 255, 255, 0);
  }

  100% {
    background: rgba(0, 0, 0, 0.25);
  }
}

.mainContainer {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  margin-top: px2(84px);
}

.mainTab {
  display: flex;
  display: flex;
  justify-content: center;
  gap: px2(40px);
  align-items: flex-end;
}

.mainTab_bgm {
  width: px2(277px);
  height: px2(74px);
  cursor: pointer;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/bgm-choose.png');
}

.mainTab_unselect_bgm {
  width: px2(276px);
  height: px2(74px);
  cursor: pointer;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/bgm-unselect.png');
}

.mainTab_cg {
  width: px2(278px);
  height: px2(81px);
  cursor: pointer;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/cg-choose.png');
}

.mainTab_unselect_cg {
  width: px2(278px);
  height: px2(81px);
  cursor: pointer;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/cg-unselect.png');
}

.bgmContainer {
  width: 100%;
  padding-top: px2(85px);
  padding-left: px2(157px);
}

.bgmListContainer {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: px2(106px);
}

.bgmElement {
  font-family: "思源宋体", serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  width: px2(465px);
  height: px2(69px);
  margin-bottom: px2(16px);
}

.bgmName {
  color: #713F44;
  font-size: px2(32px);
  padding-left: px2(37px);
  display: flex;
  justify-content: space-between;
  width: px2(385px);
  align-items: center;
}

.bgm_item_name {
  min-width: 0;
  width: px2(320px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bgm_sound_wrapper {
  width: px2(42px);
  height: px2(38px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgm_sound_unselect {
  width: px2(42px);
  height: px2(38px);
}

.bgm_sound_select {
  width: px2(42px);
  height: px2(38px)
}

.bgmLocked {
  // width: px2(459px);
  height: px2(63px);
}

.bgmUnlocked {
  width: px2(465px);
  height: px2(69px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: px2(12px);
  display: flex;
  gap: px2(38px);
  align-items: center;
}

.footer_page_container {
  display: flex;
  gap: px2(30px);
}

.footer_page_indicator {
  width: px2(13px);
  height: px2(14px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer_page_icon_checked {
  width: px2(13px);
  height: px2(14px);
}

.footer_page_icon_unchecked {
  width: px2(13px);
  height: px2(14px);
}

@keyframes bgmElement_In {
  0% {
    opacity: 0.95;
    //transform: translate(-50px, 0);
  }

  100% {
    opacity: 1;
  }
}


.cgMain {
  width: 100%;
  padding: px2(25px) px2(50px) px2(25px) px2(97px);
}

.cgContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: px2(25px);
  column-gap: px2(31px);
}

.cgElement {
  width: px2(336px);
  height: px2(213px);
  position: relative;
  cursor: pointer;
}

.cgUnLockElement {
  background-image: url('@/assets/imgs/cg-unlock.png');
  background-size: cover;
}

.unlockedCGImg {
  width: px2(293px);
  height: px2(163px);
  margin-left: px2(21px);
  margin-top: px2(20px);
}

.cgShowDiv {
  height: 8%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
}

.cgShowDivWarpper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
  //background: rgba(255, 255, 255, 0.35);
  border-radius: 7px;
  padding: 12px 15px;
}

.cgNav {
  font-size: 170%;
  //background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 0.12em 1em 0.12em 1em;
  margin: 0 0.25em 0 0.25em;
  //width: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s, font-weight 0.5s;
  border-radius: 7px;
}

.cgNav:first-child {
  margin-left: 0;
}

.cgNav:last-child {
  margin-right: 0;
}

.cgNav_active {
  background-color: rgba(0, 92, 175, 0.1) !important;
  color: #005CAF;
  font-weight: bold;
}

.cgNav:hover {
  background-color: rgba(0, 92, 175, 0.05);
}


.showFullContainer {
  z-index: 13;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.showFullCgMain {
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2em 2em 2em 2em;
  background: rgba(255, 255, 255, 0.95);
  animation: fullCgIn 0.5s ease-out forwards;
  opacity: 0;
}

$initialTransform: scale(1.05, 1.05) translate(-25px, -50px) rotateX(-10deg) rotateY(10deg);
$endTransform: scale(1, 1) translate3d(0, 0, 0);

@keyframes fullCgIn {
  0% {
    opacity: 0;
    transform: $initialTransform;
  }

  100% {
    opacity: 1;
    transform: $endTransform;
  }
}

.Btn {
  width: px2(54px);
  height: px2(34px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/cg-bottom-left.png');
  cursor: pointer;
  margin-right: px2(137px);

  &:hover {
    background-image: url('@/assets/imgs/cg-bottom-left-select.png');
  }
}

.Btn_r {
  margin-right: 0;
  margin-left: px2(137px);
  background-image: url('@/assets/imgs/cg-bottom-right.png');

  &:hover {
    background-image: url('@/assets/imgs/cg-bottom-right-select.png');
  }
}

.videoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playButtonIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  // height: 60%;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: px2(30px);
  cursor: pointer;

  // flex: 1;
  &::before {
    content: "▶";
    color: #fff;
  }
}