@import 'src/assets/style/px2.scss';

.extra {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 14;
  box-sizing: border-box;
}

.extraTop {
  margin-top: px2(22px);
  margin-left: px2(49px);
  width: px2(344px);
  position: relative;
}

.backIcon {
  position: absolute;
  left: px2(-27px);
  top: px2(-6px);
  cursor: pointer;
  width: px2(105px);
  height: px2(58px);

  background-image: url('@/assets/imgs/back.png');
  background-size: cover;
  &:hover {
    background-image: url('@/assets/imgs/back-r.png');
  }
}

@keyframes extra_icon_softin {
  0% {
    background: rgba(255, 255, 255, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.25);
  }
}

.mainContainer {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}
.mainTab {
  width: px2(984px);
  height: px2(73px);
  margin: 0 auto;
  margin-top: px2(8px);
  position: relative;
  display: flex;
  align-items: center;
}
.mainTab_bg {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: px2(12px);
  left: 0;
}
.mainTab_unselect {
  position: absolute;
  cursor: pointer;
  height: px2(20px);
}
.mainTab_unselect_bgm {
  left: px2(292px);
}
.mainTab_unselect_cg {
  left: px2(613px);
}

.mainTab_choose {
  width: px2(269px);
  height: px2(73px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('@/assets/imgs/tab-choose.png');
  background-size: cover;
}
.mainTab_choose_bgm {
  left: px2(227px);
}
.mainTab_choose_cg {
  left: px2(527px);
}
.mainTab_text {
  height: px2(20px);
}

.bgmContainer {
  width: 100%;
  padding-top: px2(88px);
  padding-left: px2(160px);
}

.bgmListContainer {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.bgmElement {
  font-family: "思源宋体", serif;
  cursor: pointer;
  width: 50%;
  display: flex;
  margin-bottom: px2(40px);
  align-items: center;
  position: relative;
}
.bgmStar {
  width: px2(43px);
  height: px2(44px);
}

.bgmName {
  color: #CCC092;
  font-size: px2(32px);
  padding-left: px2(19px);
  display: flex;
  justify-content: space-between;
  width: px2(385px);
  align-items: center;
  gap: px2(10px)
}
.bgm_item_name {
  min-width: 0;
  width: px2(320px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bgm_underline {
  width: px2(385px);
  height: px2(3px);
  position: absolute;
  left: px2(46px);
  bottom: px2(-8px);
}
.bgm_sound_wrapper {
  width: px2(50px);
  height: px2(46px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgm_sound_unselect {
  width: px2(27px);
  height: px2(27px);
}
.bgm_sound_select {
  width: px2(50px);
  height: px2(46px)
}
.unlockBgm {
  width: px2(310px);
  height: px2(45px);
}

.footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: px2(12px);
  display: flex;
  gap: px2(38px);
  align-items: center;
}
.footer_page_container {
  display: flex;
  gap: px2(30px);
}
.footer_page_indicator {
  width: px2(29px);
  height: px2(29px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_page_icon_checked {
  width: px2(29px);
  height: px2(29px);
}
.footer_page_icon_unchecked {
  width: px2(13px);
  height: px2(13px);
}

@keyframes bgmElement_In {
  0% {
    opacity: 0.95;
    //transform: translate(-50px, 0);
  }
  100% {
    opacity: 1;
  }
}


.cgMain {
  width: 100%;
  padding: px2(25px) px2(50px) px2(25px) px2(97px);
}

.cgContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cgElement {
  width: px2(369px);
  height: px2(233px);
  padding: px2(36px) px2(38px) px2(38px) px2(18px);
  position: relative;
  cursor: pointer;
  &:nth-child(4), &:nth-child(5), &:nth-child(6) {
    margin-top: px2(-15px);
  }
}
.cgUnLockElement {
  background-image: url('@/assets/imgs/cg-unlock.png');
  background-size: cover;
}

.cgShowDiv {
  height: 8%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
}

.cgShowDivWarpper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
  //background: rgba(255, 255, 255, 0.35);
  border-radius: 7px;
  padding: 12px 15px;
}

.cgNav {
  font-size: 170%;
  //background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 0.12em 1em 0.12em 1em;
  margin: 0 0.25em 0 0.25em;
  //width: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s, font-weight 0.5s;
  border-radius: 7px;
}

.cgNav:first-child {
  margin-left: 0;
}

.cgNav:last-child {
  margin-right: 0;
}

.cgNav_active {
  background-color: rgba(0, 92, 175, 0.1) !important;
  color: #005CAF;
  font-weight: bold;
}

.cgNav:hover {
  background-color: rgba(0, 92, 175, 0.05);
}


.showFullContainer {
  z-index: 13;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.showFullCgMain {
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2em 2em 2em 2em;
  background: rgba(255, 255, 255, 0.95);
  animation: fullCgIn 0.5s ease-out forwards;
  opacity: 0;
}

$initialTransform: scale(1.05, 1.05) translate(-25px, -50px) rotateX(-10deg) rotateY(10deg);
$endTransform: scale(1, 1) translate3d(0, 0, 0);

@keyframes fullCgIn {
  0% {
    opacity: 0;
    transform: $initialTransform;
  }
  100% {
    opacity: 1;
    transform: $endTransform;
  }
}

.Btn {
  width: px2(105px);
  height: px2(58px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/back.png');
  cursor: pointer;
  &:hover {
    background-image: url('@/assets/imgs/back-r.png');
  }
}

.Btn_r {
  transform: rotate(180deg);
}