@import 'src/assets/style/px2.scss';

.Backlog_main {
  font-family: "思源宋体", serif;
  position: absolute;
  top: 0;
  width: px2(1280px);
  height: px2(720px);
  z-index: 10;
  animation: backlog_soft_in 0.7s ease-out forwards;
  box-sizing: border-box;
  background-image: url('@/assets/imgs/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Backlog_main_out {
  font-family: "思源宋体", serif;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  padding: 2em 0 2em 0;
  animation: backlog_soft_out 0.7s ease-out forwards;
  box-sizing: border-box;
}

// 把z-index置为负数 不然会挡住点击层
.Backlog_main_out_IndexHide {
  z-index: -10;
}

// 暂时禁用滚动
.Backlog_main_DisableScroll {
  overflow: hidden !important;
}

.backlog_top_icon {
  position: absolute;
  left: px2(-27px);
  top: px2(-6px);
  cursor: pointer;
  width: px2(105px);
  height: px2(58px);
  background-image: url('@/assets/imgs/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:hover {
    background-image: url('@/assets/imgs/back-r.png');
  }
}

@keyframes backlog_icon_softin {
  0% {
    background: rgba(255, 255, 255, 0);
  }
  100% {
    background: rgba(255, 255, 255, 0.25);
  }
}


.backlog_title {
  position: absolute;
  top: px2(20px);
  left: px2(47px);
  width: px2(344px);
  height: px2(84px);
  background-image: url('@/assets/imgs/review-title.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backlog_content {
  position: absolute;
  margin-top: px2(93px);
  padding: 0 px2(60px);
  overflow: overlay;
  display: flex;
  flex-flow: column-reverse;
  font-weight: normal;
  box-sizing: border-box;
  height: calc(100% - px2(93px));
  width: 100%;
  // background-image: url('@/assets/imgs/review-content-box-bg.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 100% 0%;
}

.backlog_content::-webkit-scrollbar {
  width: px2(16px) !important;  /* 滚动条宽度 */
}

.backlog_review_line {
  position: absolute;
  top: px2(95px);
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  height: px2(1px);
  width: px2(1079px);
  background-image: url('@/assets/imgs/review-line.png');
}

.backlog_content::-webkit-scrollbar-thumb {
  width: 17px;
  height: 107px;
  flex-shrink: 0;
  background: url('@/assets/imgs/slider-bar.png');
}

.backlog_content::-webkit-scrollbar-track  {
  background: transparent;
}


.backlog_item {
  display: flex;
  flex-direction: column;
  color: #9F94A5;
  font-size: 165%;
  opacity: 0;
  animation: backlog_item_in 0.5s ease-out forwards;
  // margin: 1.25em 0 0 0;
  width: px2(1160px);
  position: relative;
  padding-bottom: px2(5px);
  margin-top: px2(10px);
  // height: px2(170px);
  // border-bottom: 1px solid red;
  // padding: 0 px2(57px) 0 px2(100px);

  &:hover {
    background-image: url('@/assets/imgs/review-item-bg-hover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover .backlog_item_content_name {
    color: #C6BAD9;
  }

  &:hover .backlog_item_content_text {
    color: #CCC092;
  }

  // &:hover .backlog_item_content {
  //   font-size: px2(30px);
  // }

  &:hover .backlog_item_button_element {
    opacity: 1;
  }

  &::after {  
    content: "";  
    position: absolute;  
    bottom: px2(-5px);  
    left: 50%;  
    transform: translateX(-50%);
    width: px2(1079px);  
    height: px2(1px);
    background-image: url('@/assets/imgs/review-line.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.backlog_item_out {
  display: flex;
  color: white;
  font-size: 165%;
  opacity: 0;
  animation: backlog_item_out 0.5s ease-out forwards;
  // margin: 1.25em 0 0 0;
  width: 100%;
}

.backlog_func_area {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  width: 80%;
  max-width: 80%;
  min-width: 30%;
}

.backlog_item_content_name {
  margin-left: px2(83px);
  overflow-wrap: break-word;
  box-sizing: border-box;
  text-align: left;
  letter-spacing: 0.1em;
  color: #A3A0A0;
  font-size: px2(18px);
  font-weight: 400;
  // line-height: px2(55px);
}

.backlog_item_content {
  color: #9F94A5;
  font-size: px2(20px);
  font-weight: 400;
  line-height: px2(34px);
  padding-left: px2(91px);
}

.backlog_item_button_list {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  margin: 0.35em 0 0 0;
}

.backlog_item_button_element {
  cursor: pointer;
  display: flex;
  opacity: 0;
  position: absolute;
  right: px2(261px);
  top: 50%;
  transform: translateY(-50%);

  .sound_icon {
    display: block;
    width: px2(50px);
    height: px2(46px);
    background-image: url('@/assets/imgs/sound-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover {
      background-image: url('@/assets/imgs/sound-choose.png');
    }
  }
}


.backlog_item_content_text {
  display: inline-block;
  width: px2(720px);
  box-sizing: border-box;
}


@keyframes backlog_soft_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backlog_soft_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backlog_item_in {
  0% {
    opacity: 0;
    transform: scale(1.05, 1.05) translate(-15px, 10px) rotateX(-5deg) rotateY(-5deg);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) translate(0, 0);
  }
}

@keyframes backlog_item_out {
  0% {
    opacity: 1;
    transform: scale(1, 1) translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: scale(1.05, 1.05) translate(-15px, 10px) rotateX(-5deg) rotateY(-5deg);
    background-color: rgba(255, 255, 255, 0.2);
  }
}
