.Backlog_main {
  font-family: "思源宋体", serif;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  // background: rgba(0, 0, 0, 0.7);
  // padding: 2em 0 2em 0;
  animation: backlog_soft_in 0.7s ease-out forwards;
  box-sizing: border-box;
  padding: 35px 77px 25px 46px;
  background-image: url('../../assets/images/review_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Backlog_main_out {
  font-family: "思源宋体", serif;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  padding: 2em 0 2em 0;
  animation: backlog_soft_out 0.7s ease-out forwards;
  box-sizing: border-box;
}

// 把z-index置为负数 不然会挡住点击层
.Backlog_main_out_IndexHide {
  z-index: -10;
}

// 暂时禁用滚动
.Backlog_main_DisableScroll {
  overflow: hidden !important;
}


.backlog_top {
  padding: 0 0 0 1em;
  display: flex;
  height: 10%;
}

.backlog_top_icon {
  // padding: 0.6em 0.6em 0 0.6em;
  // border-radius: 1000px;
  // transform: translate(0, -13px);
  cursor: pointer;
  width: 140px;
  height: 57px;
  background-image: url('../../assets/images/review_close_icon.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// .backlog_top_icon:hover {
//   background: rgba(255, 255, 255, 0.25);
//   animation: backlog_icon_softin 0.25s ease-out forwards;
// }

@keyframes backlog_icon_softin {
  0% {
    background: rgba(255, 255, 255, 0);
  }
  100% {
    background: rgba(255, 255, 255, 0.25);
  }
}


.backlog_title {
  // height: 100%;
  // line-height: 100%;
  // font-size: 360%;
  // font-weight: bold;
  // color: transparent;
  // background: linear-gradient(150deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(165, 212, 228, 1) 100%);
  // -webkit-background-clip: text;
  width: 513px;
  height: 126px;
  background-image: url('../../assets/images/review_text.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backlog_content {
  position: absolute;
  height: 85%;
  margin-left: 80px;
  margin-right: 77px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-flow: column-reverse;
  font-weight: normal;
  width: 100%;
  box-sizing: border-box;
  background-image: url('../../assets/images/review_contentBox_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
}


.backlog_item {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 165%;
  opacity: 0;
  animation: backlog_item_in 0.5s ease-out forwards;
  // margin: 1.25em 0 0 0;
  width: 100%;
  height: 170px;
  // border-bottom: 1px solid red;
  padding: 16px 57px 20px 100px;

  &:hover {
    background-image: url('../../assets/images/review_item_bg_hover.png');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover .backlog_item_content_name {
    color: #C6BAD9;
  }

  &:hover .backlog_item_content {
    color: #CCC092;
  }

  &:hover .backlog_item_button_element {
    opacity: 1;
  }

  &::after {  
    content: "";  
    position: absolute;  
    bottom: 0;  
    left: 0;  
    width: 100%;  
    height: 1px;
    background-image: url('../../assets/images/review_line.png');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.backlog_item_out {
  display: flex;
  color: white;
  font-size: 165%;
  opacity: 0;
  animation: backlog_item_out 0.5s ease-out forwards;
  // margin: 1.25em 0 0 0;
  width: 100%;
}

.backlog_func_area {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  width: 30%;
  max-width: 30%;
  min-width: 30%;
}

.backlog_item_content_name {
  // color: transparent;
  color: red;
  //background: linear-gradient(150deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 55%, rgb(210, 243, 255) 100%);
  // background: linear-gradient(150deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(165, 212, 228, 1) 100%);
  // -webkit-background-clip: text;
  //width: 20%;
  // margin: 0 0 0 auto;
  overflow-wrap: break-word;
  box-sizing: border-box;
  //background: rgba(255, 255, 255, 0.175);
  // border-radius: 7px;
  // padding: 0.2em 0.5em 0.2em 0.5em;
  // width: 50%;
  text-align: left;
  //font-family: WebgalUI, serif;
  letter-spacing: 0.1em;
  color: #A3A0A0;
  font-size: 28px;
  font-weight: 400;
  line-height: 55px;
}

.backlog_item_content {
  //display: flex;
  font-size: 115%;
  width: 82.5%;
  box-sizing: border-box;
  padding-top: 0.2em;
  //font-family: WebgalUI, serif;
  letter-spacing: 0.05em;

  color: #9F94A5;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
}

.backlog_item_button_list {
  display: flex;
  //padding: 0 2em 0 0.3em;
  flex-flow: row;
  align-items: flex-start;
  margin: 0.35em 0 0 0;
}

.backlog_item_button_element {
  cursor: pointer;
  padding: 0.01em 0.75em 0 0.75em;
  // margin: 0 0 0 0.5em;
  // background: rgba(255, 255, 255, 0.075);
  border-radius: 7px;
  display: flex;
  opacity: 0;
  position: absolute;
  right: 30%;
  top: 50%;
  transform: translateY(-50%);
  //border: 1px solid rgba(255, 255, 255, 0.15);
  //box-shadow: 0 0 15px rgba(255, 255, 255, 0.25);

  &:hover {
    background: rgba(255, 255, 255, 0.075);
  }

  .sound_icon {
    display: block;
    width: 75px;
    height: 69px;
    background-image: url('../../assets/images//sound_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.backlog_item_button_element:hover {
  background: rgba(255, 255, 255, 0.25);
  //border: 1px solid rgba(255, 255, 255, 0);
  //box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}


.backlog_item_content_text {
  //width: 80%;
  box-sizing: border-box;
}


@keyframes backlog_soft_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backlog_soft_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backlog_item_in {
  0% {
    opacity: 0;
    transform: scale(1.05, 1.05) translate(-15px, 10px) rotateX(-5deg) rotateY(-5deg);
    //background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) translate(0, 0);
  }
}

@keyframes backlog_item_out {
  0% {
    opacity: 1;
    transform: scale(1, 1) translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: scale(1.05, 1.05) translate(-15px, 10px) rotateX(-5deg) rotateY(-5deg);
    background-color: rgba(255, 255, 255, 0.2);
  }
}
