$default_storyLine_bg_x: 2556px;
$default_storyLine_bg_y: 1440px;

.storyLine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    overflow: auto;
    // -ms-overflow-style: none;  /* 适用于 Internet Explorer 和 Edge */
    // scrollbar-width: none;     /* 适用于 Firefox */
      
    // &::-webkit-scrollbar {
    //     display: none; /* 适用于 WebKit 内核浏览器 */
    // }

    .storyLine_header {
        padding: 10px 30px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        .goBack {
            color: #666;
            font-size: 50px;
            &:hover {
                cursor: pointer;
                color: #000;
            }
        }
        .title {
            color: #000;
            font-size: 50px;
            margin-left: 50px;
        }
    }

    .storyLine_content {
        height: 100%;
        width: 100%;
        overflow: auto;
        // overflow-x: scroll; /* 允许水平滚动 */
        // overflow-y: hidden; /* 禁止垂直滚动 */
        background-repeat: no-repeat;
        // background-size: cover;
        position: relative;
        background-size: $default_storyLine_bg_x $default_storyLine_bg_y;

        .storyLine_item {
            width: 240px;
            height: 180px;
            border-radius: 3rem;
            overflow: hidden;
            background-repeat: no-repeat;
            position: absolute;
            background-size: contain;
            background-position: center;

            &:hover .info_card {
                z-index: 100;
                opacity: 1;
            }

            .info_card {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.2);
                z-index: -1;
                opacity: 0;
                transition: all 0.5s;
                cursor: pointer;

                .playButton_icon {
                    display: inline-block;
                    height: 100px;
                    text-align: center;  
                    border-radius: 50%;  
                    color: #fff;  
                    font-size: 6em;  
                    cursor: pointer;
                    margin-bottom: 20px;
                    &::before {  
                        content: "▶";  
                        color: #fff;
                      }  
                }

                .name {
                    font-size: 50px;
                    color: red;

                }
            }
        }
    }
}