@import 'src/assets/style/px2.scss';
$default_storyLine_bg_x: 1280px;
$default_storyLine_bg_y: 720px;

.storyLine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    overflow: auto;
    // background: #000;
    animation: bg_animation .5s forwards;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    // -ms-overflow-style: none;  /* 适用于 Internet Explorer 和 Edge */
    // scrollbar-width: none;     /* 适用于 Firefox */
      
    // &::-webkit-scrollbar {
    //     display: none; /* 适用于 WebKit 内核浏览器 */
    // }

       
    .goBack {
        position: fixed !important;
        top: px2(35px);
        left: px2(25px);
        z-index: 100;
        display: inline-block;
        width: px2(49px);
        height: px2(46px);
        background-image: url('@/assets/imgs/back.png');
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            transform: scale(1.2);
            background-image: url("@/assets/imgs/back-active.png");
        }
    }

    .hideDefalutGobackBg {
        background-image: none;
        &:hover {
            background-image: none;
        }
    }

    .storyLine_content {
        height: 100%;
        width: 100%;
        overflow: auto;
        // overflow-x: scroll; /* 允许水平滚动 */
        // overflow-y: hidden; /* 禁止垂直滚动 */
        background-repeat: no-repeat;
        // background-size: cover;
        position: relative;
        background-size: px2($default_storyLine_bg_x) px2($default_storyLine_bg_y);
        background-size: var(--screenWidth) var(--screenHeight);
    }

    .storyLine_item {
        width: px2(135px);
        height: px2(81px);
        // overflow: hidden;
        background-repeat: no-repeat;
        position: absolute;
        background-size: contain;
        background-position: center;

        &:hover .info_card {
            z-index: 100;
            opacity: 1;
        }

        .info_card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            opacity: 0;
            transition: all 0.5s;
            cursor: pointer;

            .playButton_icon {
                display: flex;
                justify-content: center;
                align-items: baseline;
                width: 100%;
                // height: 60%;
                text-align: center;  
                border-radius: 50%;  
                color: #fff;  
                font-size: px2(30px);  
                cursor: pointer;
                // flex: 1;
                &::before {  
                    content: "▶";  
                    color: #fff;
                  }  
            }

            .name {
                font-size: px2(24px);
                color: #fff;
                font-weight: 700;
                // flex: 1;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                width: 100%;
                line-height: 1.2;
                height: inherit;
                text-align: center;
            }
        }
    }
}

@keyframes bg_animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}