@import 'src/assets/style/px2.scss';
.GlobalDialog_main {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 20;
  background: rgba(15, 37, 64, 0.39);
  color: white;
  opacity: 0.5;
  animation: showGlobalDialog 0.33s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  //font-family: "WebgalUI", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-family: "思源宋体", serif;
}

.glabalDialog_container_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: px2(906px);
  height: px2(519px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/dialog-bg.svg');
}

.glabalDialog_container {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #5A536E;
  font-family: Inter;
  font-size:  px2(40px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: px2(50px);
}

.button_list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: px2(169px);
}

.button_confirm {
  width: px2(256px);
  height: px2(117px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/dialog-confirm.svg');
  margin-right: px2(110px);
  cursor: pointer;
}

.button_cancel {
  width: px2(237px);
  height: px2(76px);
  margin-top: px2(16px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/dialog-cancel.svg');
  cursor: pointer;
}

.button:hover {
  font-weight: bold;
  color: #005caf;
  transform: scale(1.1, 1.1);
  text-shadow: 0 0 15px rgba(0, 0, 0, 0);
  background: rgba(255, 255, 255, 0.85);
}

@keyframes showGlobalDialog {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
