@import 'src/assets/style/px2.scss';
.GlobalDialog_main {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 20;
  background: rgba(15, 37, 64, 0.39);
  color: white;
  opacity: 0.5;
  animation: showGlobalDialog 0.33s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "思源宋体", serif;
}

.glabalDialog_container_inner {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: px2(607px);
  height: px2(348px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/dialog-bg.png');
  position: relative;
}

.glabalDialog_container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #5A536E;
  font-family: Inter;
  font-size:  px2(28px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: px2(88px);
}

.button_list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: px2(30px);
  gap: px2(78px)
  // margin-top: px2(50px);
}

.button {
  width: px2(172px);
  height: px2(78px);
  text-align: center;
  padding-top: px2(22px);
  font-size: px2(28px);
  color: #4E4B6C;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/menu-button-default.png');
  cursor: pointer;
  transition: transform 0.33s ease-in-out;
  &:hover {
    background-image: url('@/assets/imgs/menu-button-active.png');
    color: #fff;
    transform: scale(1.1, 1.1);
  }
}

@keyframes showGlobalDialog {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
