@import 'src/assets/style/px2.scss';
.GlobalDialog_main {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 20;
  background: rgba(15, 37, 64, 0.39);
  color: white;
  opacity: 0.5;
  animation: showGlobalDialog 0.33s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "思源宋体", serif;
}

.glabalDialog_container_inner {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: px2(530px);
  height: px2(307px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/dialog-bg.png');
  position: relative;
}

.GlobalDialog_pay_container {
  display: flex;
  background: linear-gradient(180deg, #EAE7FE 0%, #F9EAFB 100%);
  border-radius: px2(12px);
  width: px2(960px);
  position: relative;
  flex-direction: column;
}

.GlobalDialog_pay_tip {
  position: absolute;
  width: px2(228px);
  height: px2(47px);
  left: 50%;
  transform: translateX(-50%);
  top: px2(-56px)
}

.GlobalDialog_pay_close {
  position: absolute;
  top: px2(-51px);
  cursor: pointer;
  right: 0;
  width: px2(36px);
  height: px2(36px);
  background-image: url('@/assets/imgs/modal-close-2.png');
}

.GlobalDialog_pay_title {
  width: px2(538px);
  height: px2(42px);
  line-height: px2(42px);
  text-align: center;
  background: linear-gradient(90deg, rgba(226, 150, 176, 0) 7.09%, #E296B0 38.86%, #E296B0 64.65%, rgba(226, 150, 176, 0) 100%);
  font-weight: 600;
  font-size: px2(18px);
  color: #FFF8EA;
  margin: px2(20px) auto px2(38px) auto;
}

.GlobalDialog_pay_content {
  color: #707083;
  font-size: px2(16px);
  line-height: px2(20px);
  font-family: "GenWanMin TW";
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GlobalDialog_star_stone {
  width: px2(20px);
  height: px2(20px);
  margin: 0 px2(8px);
  background-image: url('@/assets/imgs/xingshiIcon.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.GlobalDialog_pay_btns {
  display: flex;
  justify-content: flex-end;
  padding-right: px2(30px);
  margin-bottom: px2(5px);
  margin-top: px2(20px);
  column-gap: 8px;
  align-items: center;
}

.GlobalDialog_pay_btn {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.7;
  }
}

.GlobalDialog_pay_cancel {
  width: px2(116.5px);
  height: px2(46.5px);
  background-image: url('@/assets/imgs/modal-cancel.png');
}

.GlobalDialog_pay_confirm {
  width: px2(140.5px);
  height: px2(70.5px);
  background-image: url('@/assets/imgs/modal-confirm.png');
}

.glabalDialog_container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #7C6267;
  font-family: Inter;
  font-size:  px2(22px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: px2(86px);
  text-align: center;
  width: px2(352px);
}

.button_list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: px2(38px);
  gap: px2(101px)
  // margin-top: px2(50px);
}

.button {
  width: px2(165px);
  height: px2(63px);
  text-align: center;
  line-height: px2(63px);
  font-size: px2(26px);
  font-family: Inter;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/imgs/game-menu-button-bg.png');
  cursor: pointer;
  transition: transform 0.33s ease-in-out;
  &:hover {
    background-image: url('@/assets/imgs/game-menu-button-bg-active.png');
    color: #fff;
    transform: scale(1.1, 1.1);
  }
}

@keyframes showGlobalDialog {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
