.variableNameWrapper {
    min-height: 0px;
    min-width: 0px;
    color: #fff;
    font-size: 50px;
    background-color: #08c;
    z-index: 9999;
}

.progressBarBg {
    opacity: 0;
}

.progressBar {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}