@import 'src/assets/style/px2.scss';
.beautyGuideDetail_main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    overflow: auto;
    display: flex;
    background-color: #000;
    // padding: 30px 20px;

    .beautyGuide_detail_bg {
        position: absolute !important;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .goback {
        display: inline-block;
        width: px2(49px);
        height: px2(46px);
        background-image: url('@/assets/imgs/back.png');
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        transition: all 0.3s;
        position: fixed;
        top: px2(41px);
        left: px2(25px);
        z-index: 100;

        &:hover {
          transform: scale(1.2);
          background-image: url("@/assets/imgs/back-active.png");
        }
    }

    .beautyGuideDetail_left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33.33%;
        height: 100%;

        .left_box {
            position: relative;
            transform: translateX(0) translateY(0) !important;
            background: rgba(0, 0, 0, 0.3);
            border-radius: px2(17px);
        }

        .beautyGuide_detail_left_bg {
            position: absolute !important;
            left: 0 !important;
            top: 0 !important;
            width: inherit;
            height: 100%;
            z-index: -1;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: translateX(0) translateY(0) !important;
        }

        // .header {
        //     flex: 1;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     width: 100%;

        //     .title {
        //         font-size: 50px;
        //         color: red;
        //     }
        // }

        .pictureUrl {
            flex: 3;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        
            img {
                // max-width: 100%;
                // max-height: 100%;
                height: calc(267px* 2);
                width: calc(189px* 2);
                
            }
        }

        .personal_info {
            flex: 3;
            width: 100%;

            .name {
                font-size: 60px;
                color: #fff;
                font-weight: 700;
                text-align: center;
                margin: 20px 0;
            }

            .info {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                & > span {
                    font-size: 28px;
                    color: #fff;
                    font-weight: 700;
                    flex: 1;
                    &:first-child {
                        text-align: right;
                    }
                    &:last-child {
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    .beautyGuideDetail_right {
        width: 66.66%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: auto;

        .contentWrapper {
            // flex: 1;

            .content {
                height: px2(475px);
                width: px2(708px);
                display: flex;
                justify-content: center;
                position: relative;
                transform: translateX(0) translateY(0) !important;
                cursor: pointer;
                background: rgba(0, 0, 0, 0.3);
                border-radius: px2(17px);

                .content_bg {
                    position: absolute !important;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    transform: translateX(0) translateY(0) !important;
                }

                & > video {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                .content_img {
                    object-fit: contain;
                    max-width: 100%;
                    max-height: 100%;
                    height: 100%;
                    &:hover {
                        cursor: -moz-zoom-in;
                        cursor: -webkit-zoom-in;
                        cursor: zoom-in;
                    }
                }
            }

            .thumbnailWrapper {
                // min-height: px2(65px);
                width: 85%;
                padding: px2(10px);
                margin-bottom: px2(5px);
                overflow-x: auto;
                overflow-y: hidden;

                & > div {
                    display: flex;
                    flex-wrap: nowrap;
                }
                
                .thumbnail_box {
                    width: px2(109px);
                    height: px2(62px);
                    margin-right: px2(10px);
                    padding: px2(10px) 0;
                    transition: all 0.3s;
                    overflow: hidden;
                    position: relative;
                    flex-shrink: 0;
                    cursor: pointer;

                    &:hover {
                        cursor: pointer;
                        // & > img {
                        //     transform: scale(1.2);
                        // }
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    & > img {
                        // height: 100%;
                        // width: 100%;
                        max-height: 100%;
                        margin: 0 auto;
                        object-fit: cover;
                        transition: all 0.3s;
                        cursor: pointer;
                    }

                    .video_mark {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.5);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .desc_text {
            padding: px2(20px);
            min-height: 100px;
            width: px2(708px);
            position: relative;
            transform: translateX(0) translateY(0) !important;
            color: #fff;
            font-size: 30px;
            text-align: center;
            background: rgba(0, 0, 0, 0.3);
            border-radius: px2(17px);

            .desc_bg {
                position: absolute !important;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                transform: translateX(0) translateY(0) !important;
            }

            & > span {
                line-height: 1.2;
            }
        }
    }

    .hideBgc {
        background: none !important;
    }
}