@import 'src/assets/style/px2.scss';

.variableNameWrapper {
    min-height: 0px;
    min-width: 0px;
    color: #fff;
    font-size: 50px;
    background-color: #08c;
    z-index: 99999;
}

.progressBarBg {
    opacity: 0;
}

.progressBar {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.affinityWrapper {
    position: fixed;
    display: flex;
    align-items: center;
    right: px2(50px);
    top: 50%;
    transform: translate(0, -50%);
    z-index: 5;
    opacity: 0;
    gap: px2(20px);
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: scale3d(0, 0, 0) translate(0, -50%);
    }
  
    // 20% {
    //   transform: scale3d(1.1, 1.1, 1.1) translate(0, -50%);
    // }
  
    60% {
      opacity: 1;
      transform: scale3d(1.1, 1.1, 1.1) translate(0, -50%);
    }
  
    70% {
      transform: scale3d(0.97, 0.97, 0.97) translate(0, -50%);
    }

    80% {
        opacity: 1;
        transform: scale3d(1, 1, 1) translate(0, -50%);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1) translate(0, -50%);
    }
  }
  
  .bounceIn {
    animation-duration: 1s;
    animation-name: bounceIn;
  }

  @keyframes fadeOutUp {
    from {
      opacity: 1;
      transform: translate3d(0, -50%, 0);
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, -400%, 0);
    }
  }
  
  .fadeOutUp {
    animation-duration: 2s;
    animation-name: fadeOutUp;
  }